<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vamera's Django Blog</title>
  </head>
  <body>
    <header>
      <h1>Vamera's Django Blog</h1>
      <small>Django Girls Cordoba 1 Ed.</small>
    </header>
    <main>
      {% for post in posts %}
      <article>
        <h2><a href="">{{ post.title }}</a></h2>
        <small>published: {{ post.published_date }}</small>
        <p>{{ post.text|linebreaksbr }}</p>
      </article>
      {% endfor %}
    </main>

  </body>
</html>
