<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vamera's Django Blog</title>
  </head>
  <body>
    <header>
      <h1>Vamera's Django Blog</h1>
      <small>Django Girls Cordoba 1 Ed.</small>
    </header>
    <main>
      <article>
        <h2><a href="">My first post</a></h2>
        <p>published: 14.06.2014, 12:14</p>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </article>

      <article>
        <h2><a href="">My second post</a></h2>
        <p>published: 14.06.2014, 12:14</p>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
      </article>
    </main>

  </body>
</html>
